/* _content/MyceliumServer/Pages/BucketGame.razor.rz.scp.css */
table[b-n5k34vohmg], th[b-n5k34vohmg], td[b-n5k34vohmg] {
  border: 1px solid;
}

#myGameArea[b-n5k34vohmg] {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#myGoalLine[b-n5k34vohmg] {
  width: 400px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  background-color: cyan;
}

#myBucket[b-n5k34vohmg] {
  width: 51px;
  height: 25px;
  position: absolute;
  background-color: red;
}
#myPlayer[b-n5k34vohmg]{
  width: 25px;
  height: 26px;
  position: absolute;
  background-color: blue;
  border-radius: 50px;
}
#myPlayerText[b-n5k34vohmg] {
  font-family: monospace;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: green;
}
#myScoreBoard[b-n5k34vohmg] {
  width: 200px;
  height: 600px;
  position: relative;
  left: 450px;
  top: -400px;
}
#winningPlayer[b-n5k34vohmg] {
  position: relative;
  top: 1em;
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  color:  green;
  font-weight: bolder;
}
/* _content/MyceliumServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-wlx3gcm64o] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wlx3gcm64o] {
    flex: 1;
}

.sidebar[b-wlx3gcm64o] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wlx3gcm64o] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wlx3gcm64o]  a, .top-row .btn-link[b-wlx3gcm64o] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wlx3gcm64o] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wlx3gcm64o] {
        display: none;
    }

    .top-row.auth[b-wlx3gcm64o] {
        justify-content: space-between;
    }

    .top-row a[b-wlx3gcm64o], .top-row .btn-link[b-wlx3gcm64o] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wlx3gcm64o] {
        flex-direction: row;
    }

    .sidebar[b-wlx3gcm64o] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wlx3gcm64o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wlx3gcm64o], article[b-wlx3gcm64o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MyceliumServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fsrgh3pify] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fsrgh3pify] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fsrgh3pify] {
    font-size: 1.1rem;
}

.oi[b-fsrgh3pify] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fsrgh3pify] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fsrgh3pify] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fsrgh3pify] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fsrgh3pify]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fsrgh3pify]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fsrgh3pify]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fsrgh3pify] {
        display: none;
    }

    .collapse[b-fsrgh3pify] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fsrgh3pify] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
