#myGameArea[b-n5k34vohmg] {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
  #myBucket[b-n5k34vohmg] {
    width: 50px;
    height: 25px;
    position: absolute;
    background-color: red;
  }
  #myPlayer[b-n5k34vohmg]{
    width: 25px;
    height: 26px;
    position: absolute;
    background-color: blue;
    border-radius: 50px;
  }