table, th, td {
  border: 1px solid;
}

#myGameArea {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#myGoalLine {
  width: 400px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  background-color: cyan;
}

#myBucket {
  width: 51px;
  height: 25px;
  position: absolute;
  background-color: red;
}
#myPlayer{
  width: 25px;
  height: 26px;
  position: absolute;
  background-color: blue;
  border-radius: 50px;
}
#myPlayerText {
  font-family: monospace;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: green;
}
#myScoreBoard {
  width: 200px;
  height: 600px;
  position: relative;
  left: 450px;
  top: -400px;
}
#winningPlayer {
  position: relative;
  top: 1em;
  text-align: center;
  font-size: x-large;
  font-family: monospace;
  color:  green;
  font-weight: bolder;
}